# Node.js dependencies
node_modules/
back-end/node_modules/

# Environment files
.env
.env.local
.env.production
.env.development

# Logs & Cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
.cache/

# Docker
mongodb_data/
docker-compose.override.yml
